[submodule "NeuralEngine/lib/glfw"]
	path = NeuralEngine/lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "NeuralEngine/lib/cglm"]
	path = NeuralEngine/lib/cglm
	url = https://github.com/recp/cglm.git
